:root {
    --font-inter: "Inter", sans-serif;
    --font-inknut: "Inknut Antiqua", serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* styles.css */
:root {
    --font-inter: "Inter", sans-serif;
}

body {
    background-image: url("/assets/imgs/backGround.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divGlobal {
    width: 100%;
    height: 100%;
    padding: 3%;
}

.sideCode {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    height: 10%;
}

.logo img {
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
}

.trunk {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.trunk img {
    width: auto;
    height: 100%;
}

.stopWatch {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.stopWatch p {
    font-size: 50px;
    color: #ffffff;
    font-family: var(--font-inknut);
}

.code {
    width: 100%;
    height: 15%;
}

ul {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

li {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

li>p {
    font-size: 70px;
    color: #ffffff;
    font-family: var(--font-inknut);
}

li>span {
    width: 100%;
    height: 2%;
    background-color: #ffffff;
}

.btnOpen {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.btnOpen button {
    font-family: var(--font-inknut);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 15px 35px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btnOpen button:hover {
    background-color: #fff;
    color: #8A0104;
}